<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="jp.manavista.lessonmanager">

    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".ManavistaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".activity.MainActivity">
        </activity>
        <activity android:name=".activity.SettingActivity"/>
        <activity android:name=".activity.TimetableActivity">
        </activity>
        <activity android:name=".activity.LessonViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.MemberActivity">
        </activity>
        <activity android:name=".activity.MemberListActivity">
        </activity>
        <activity android:name=".activity.MemberLessonActivity">
        </activity>
        <activity android:name=".activity.MemberLessonScheduleActivity">
        </activity>
        <activity android:name=".activity.MemberLessonScheduleListActivity">
        </activity>
    </application>

</manifest>